{% load static %}

<header>
    <center>
        <a href="#"><img src="{% static 'img/logo1.png' %}" alt="logimage" width="130px" height="130px"></a>
    </center>
        <div class="topright">
            {% if user.is_authenticated %}
                {{user.username}}
                <a href="{% url 'credentials:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'credentials:register' %}">Register</a>
                <a href="{% url 'credentials:login' %}">Login</a>
            {% endif %}
        </div>
</header>
